n8n/workflows/AUTO-03-pull-out.json
{
  "name": "AUTO-03 Pull Out",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twenty-pull-updated",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "85ce4b04-cf0c-4244-b1f5-3b3360e2e97a",
      "name": "Twenty Pull Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "85ce4b04-cf0c-4244-b1f5-3b3360e2e97a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "stage-out",
              "leftValue": "={{ $json.body.record.stage }}",
              "rightValue": "OUT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "no-calendar-yet",
              "leftValue": "={{ $json.body.record.calendarEventId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8346ecaf-ee24-4fe6-878c-752fe075e3ac",
      "name": "Stage is Out?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL.replace(/\\/$/, '') }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query GetPull($id: ID!) { pull(filter: { id: { eq: $id } }) { id name stage returnDate calendarEventId clientId { id name { firstName lastName } emails { primaryEmail } } pull { edges { node { id itemId designer itemType status } } } } }\",\n  \"variables\": { \"id\": \"{{ $('Twenty Pull Webhook').item.json.body.record.id }}\" }\n}",
        "options": {}
      },
      "id": "a942048d-7c80-4e9f-b3eb-df94237e7438",
      "name": "Fetch Pull Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 200]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_CALENDAR_ID || 'primary' }}",
          "mode": "id"
        },
        "start": "={{ $json.data.pull.returnDate }}",
        "end": "={{ $json.data.pull.returnDate }}",
        "additionalFields": {
          "summary": "=Return: {{ $json.data.pull.clientId.name.firstName }} {{ $json.data.pull.clientId.name.lastName }}",
          "description": "=Pull ID: {{ $json.data.pull.id }}\\nItems: {{ $json.data.pull.pull.edges.map(e => e.node.designer + ' ' + e.node.itemType).join(', ') }}"
        }
      },
      "id": "331a4b4e-ff14-41e3-8bf5-3e65e072cf1a",
      "name": "Create Return Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [720, 200],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Calendar — Division PR"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL.replace(/\\/$/, '') }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation UpdatePull($id: ID!, $input: PullUpdateInput!) { updatePull(id: $id, data: $input) { id calendarEventId } }\",\n  \"variables\": {\n    \"id\": \"{{ $('Fetch Pull Details').item.json.data.pull.id }}\",\n    \"input\": { \"calendarEventId\": \"{{ $json.id }}\" }\n  }\n}",
        "options": {}
      },
      "id": "4102bf46-5d1e-4891-9f79-e1c811a6fdd6",
      "name": "Save Calendar Event ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 200]
    },
    {
      "parameters": {
        "jsCode": "const pull = $('Fetch Pull Details').first().json.data.pull;\nconst items = pull.pull?.edges?.map(e => e.node) ?? [];\nreturn items.map(item => ({ json: { pullId: pull.id, itemId: item.id, itemLabel: `${item.designer} ${item.itemType}` } }));"
      },
      "id": "7a7159e0-74a3-4f79-921d-15c100e932f1",
      "name": "Split Inventory Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL.replace(/\\/$/, '') }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation UpdateInventoryItem($id: ID!, $input: InventoryItemUpdateInput!) { updateInventoryItem(id: $id, data: $input) { id status } }\",\n  \"variables\": {\n    \"id\": \"{{ $json.itemId }}\",\n    \"input\": { \"status\": \"OUT\" }\n  }\n}",
        "options": {}
      },
      "id": "3fec8a53-13b6-4037-bc3d-261175aa1000",
      "name": "Set Item Status Out",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 200]
    },
    {
      "parameters": {
        "content": "## AUTO-03: Pull Out\n\n**Trigger:** Twenty webhook `pull.updated` when stage → Out\n\n**Actions:**\n1. Create Google Calendar return event\n2. Write `calendarEventId` back to Pull\n3. Set all linked inventory items → Out\n\n**Setup:**\n- Register this webhook URL in Twenty\n- Assign Google Calendar OAuth credential\n- Set `TWENTY_API_URL`, `TWENTY_API_KEY`, `GOOGLE_CALENDAR_ID`",
        "height": 280,
        "width": 360
      },
      "id": "180e66dd-9ba3-40e2-94e7-025ea419fe4b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, 40]
    }
  ],
  "connections": {
    "Twenty Pull Webhook": {
      "main": [[{ "node": "Stage is Out?", "type": "main", "index": 0 }]]
    },
    "Stage is Out?": {
      "main": [[{ "node": "Fetch Pull Details", "type": "main", "index": 0 }], []]
    },
    "Fetch Pull Details": {
      "main": [[{ "node": "Create Return Calendar Event", "type": "main", "index": 0 }]]
    },
    "Create Return Calendar Event": {
      "main": [[{ "node": "Save Calendar Event ID", "type": "main", "index": 0 }]]
    },
    "Save Calendar Event ID": {
      "main": [[{ "node": "Split Inventory Items", "type": "main", "index": 0 }]]
    },
    "Split Inventory Items": {
      "main": [[{ "node": "Set Item Status Out", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "division-pr" }, { "name": "pull-track" }]
}
