n8n/workflows/AUTO-05-due-soon-daily.json
{
  "name": "AUTO-05 Due Soon Daily",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Daily 8AM PT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "notes": "Adjust cron for your timezone. 0 8 * * * = 8:00 AM UTC; set to 15 8 * * * for 8:15 AM PT (UTC-7)."
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst threshold = new Date(now);\nthreshold.setDate(threshold.getDate() + 2);\n\nreturn [{\n  json: {\n    today: now.toISOString(),\n    threshold: threshold.toISOString()\n  }\n}];"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Compute Date Window",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL.replace(/\\/$/, '') }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.TWENTY_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query PullsDueSoon($today: DateTime!, $threshold: DateTime!) { pulls(filter: { stage: { eq: OUT }, returnDate: { gte: $today, lte: $threshold } }) { edges { node { id name returnDate client { name { firstName lastName } emails { primaryEmail } } repAssigned { emails { primaryEmail } } } } } }\",\n  \"variables\": { \"today\": \"{{ $json.today }}\", \"threshold\": \"{{ $json.threshold }}\" }\n}",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Query Pulls Due Soon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const edges = $input.first().json.data?.pulls?.edges ?? [];\nif (!edges.length) return [];\nreturn edges.map(e => ({ json: e.node }));"
      },
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "Split Pulls",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL.replace(/\\/$/, '') }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.TWENTY_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation UpdatePull($id: ID!, $input: PullUpdateInput!) { updatePull(id: $id, data: $input) { id stage } }\",\n  \"variables\": { \"id\": \"{{ $json.id }}\", \"input\": { \"stage\": \"DUE_SOON\" } }\n}",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Set Stage Due Soon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Split Pulls').item.json.client.emails.primaryEmail }}",
        "subject": "=Return reminder — Division PR",
        "message": "=Hi {{ $('Split Pulls').item.json.client.name.firstName }},\\n\\nYour Division PR pull is due back on {{ $('Split Pulls').item.json.returnDate }}. Please reply to schedule your return or let us know if you need an extension.\\n\\nThank you,\\nDivision PR Showroom",
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-f012-456789012345",
      "name": "Email Client Reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1200, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Gmail — Division PR"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Split Pulls').item.json.repAssigned?.emails?.primaryEmail }}",
        "subject": "=Due soon: {{ $('Split Pulls').item.json.client.name.firstName }} {{ $('Split Pulls').item.json.client.name.lastName }}",
        "message": "=Pull {{ $('Split Pulls').item.json.name }} is due back on {{ $('Split Pulls').item.json.returnDate }}. Client reminder sent.",
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3456-0123-567890123456",
      "name": "Notify Rep",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1200, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Gmail — Division PR"
        }
      }
    },
    {
      "parameters": {
        "content": "## AUTO-05: Due Soon\n\n**Trigger:** Daily cron\n\n**Logic:** Pulls in stage Out with return date within 2 days\n\n**Actions:**\n1. Stage → Due Soon\n2. Email client reminder\n3. Notify assigned rep",
        "height": 200,
        "width": 320
      },
      "id": "b8c9d0e1-f2a3-4567-1234-678901234567",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, 80]
    }
  ],
  "connections": {
    "Daily 8AM PT": {
      "main": [[{ "node": "Compute Date Window", "type": "main", "index": 0 }]]
    },
    "Compute Date Window": {
      "main": [[{ "node": "Query Pulls Due Soon", "type": "main", "index": 0 }]]
    },
    "Query Pulls Due Soon": {
      "main": [[{ "node": "Split Pulls", "type": "main", "index": 0 }]]
    },
    "Split Pulls": {
      "main": [[
        { "node": "Set Stage Due Soon", "type": "main", "index": 0 },
        { "node": "Email Client Reminder", "type": "main", "index": 0 },
        { "node": "Notify Rep", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "division-pr" }, { "name": "pull-track" }]
}
