n8n/workflows/AUTO-07-pull-returned.json
{
  "name": "AUTO-07 Pull Returned",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twenty-pull-returned",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333301",
      "name": "Twenty Pull Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "33333333-3333-4333-8333-333333333301"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "returned",
              "leftValue": "={{ $json.body.record.stage }}",
              "rightValue": "RETURNED",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333302",
      "name": "Stage Returned?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL.replace(/\\/$/, '') }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.TWENTY_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query GetPull($id: ID!) { pull(filter: { id: { eq: $id } }) { id calendarEventId pull { edges { node { id designer itemType } } } } } }\",\n  \"variables\": { \"id\": \"{{ $('Twenty Pull Webhook').item.json.body.record.id }}\" }\n}",
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333303",
      "name": "Fetch Pull + Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 200]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "delete",
        "calendar": { "__rl": true, "value": "={{ $env.GOOGLE_CALENDAR_ID || 'primary' }}", "mode": "id" },
        "eventId": "={{ $json.data.pull.calendarEventId }}"
      },
      "id": "33333333-3333-4333-8333-333333333304",
      "name": "Delete Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [720, 100],
      "credentials": {
        "googleCalendarOAuth2Api": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Google Calendar — Division PR" }
      }
    },
    {
      "parameters": {
        "jsCode": "const pull = $input.first().json.data.pull;\nconst items = pull.pull?.edges?.map(e => e.node) ?? [];\nreturn items.map(item => ({ json: { itemId: item.id } }));"
      },
      "id": "33333333-3333-4333-8333-333333333305",
      "name": "Split Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL.replace(/\\/$/, '') }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.TWENTY_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation UpdateInventoryItem($id: ID!, $input: InventoryItemUpdateInput!) { updateInventoryItem(id: $id, data: $input) { id status } }\",\n  \"variables\": { \"id\": \"{{ $json.itemId }}\", \"input\": { \"status\": \"AVAILABLE\" } }\n}",
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333306",
      "name": "Set Item Available",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Twenty Pull Webhook": {
      "main": [[{ "node": "Stage Returned?", "type": "main", "index": 0 }]]
    },
    "Stage Returned?": {
      "main": [[{ "node": "Fetch Pull + Items", "type": "main", "index": 0 }], []]
    },
    "Fetch Pull + Items": {
      "main": [[
        { "node": "Delete Calendar Event", "type": "main", "index": 0 },
        { "node": "Split Items", "type": "main", "index": 0 }
      ]]
    },
    "Split Items": {
      "main": [[{ "node": "Set Item Available", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "division-pr" }, { "name": "pull-track" }]
}
