n8n/workflows/AUTO-01-appointment-confirmed.json
{
  "name": "AUTO-01 Appointment Confirmed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twenty-appointment-updated",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111101",
      "name": "Twenty Appointment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "11111111-1111-4111-8111-111111111101"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "confirmed",
              "leftValue": "={{ $json.body.record.status }}",
              "rightValue": "CONFIRMED",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111102",
      "name": "Status Confirmed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL.replace(/\\/$/, '') }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.TWENTY_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query GetAppointment($id: ID!) { appointment(filter: { id: { eq: $id } }) { id dateTime lookingFor calendarEventId client { name { firstName lastName } emails { primaryEmail } } repAssigned { emails { primaryEmail } } } }\",\n  \"variables\": { \"id\": \"{{ $('Twenty Appointment Webhook').item.json.body.record.id }}\" }\n}",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111103",
      "name": "Fetch Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.data.appointment.client.emails.primaryEmail }}",
        "subject": "=Appointment confirmed — Division PR Showroom",
        "message": "=Hi {{ $json.data.appointment.client.name.firstName }},\\n\\nYour showroom appointment is confirmed for {{ $json.data.appointment.dateTime }}.\\n\\nWe look forward to seeing you.\\n\\nDivision PR",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111104",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [720, 100],
      "credentials": {
        "gmailOAuth2": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Gmail — Division PR" }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": { "__rl": true, "value": "={{ $env.GOOGLE_CALENDAR_ID || 'primary' }}", "mode": "id" },
        "start": "={{ $('Fetch Appointment').item.json.data.appointment.dateTime }}",
        "end": "={{ $('Fetch Appointment').item.json.data.appointment.dateTime }}",
        "additionalFields": {
          "summary": "=Appt: {{ $('Fetch Appointment').item.json.data.appointment.client.name.firstName }} {{ $('Fetch Appointment').item.json.data.appointment.client.name.lastName }}",
          "description": "={{ $('Fetch Appointment').item.json.data.appointment.lookingFor || '' }}"
        }
      },
      "id": "11111111-1111-4111-8111-111111111105",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [720, 300],
      "credentials": {
        "googleCalendarOAuth2Api": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Google Calendar — Division PR" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL.replace(/\\/$/, '') }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.TWENTY_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation UpdateAppointment($id: ID!, $input: AppointmentUpdateInput!) { updateAppointment(id: $id, data: $input) { id calendarEventId } }\",\n  \"variables\": {\n    \"id\": \"{{ $('Fetch Appointment').item.json.data.appointment.id }}\",\n    \"input\": { \"calendarEventId\": \"{{ $json.id }}\" }\n  }\n}",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111106",
      "name": "Save Calendar Event ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "content": "## AUTO-01\n\nTODO after import: add **Wait Until** node for day-before reminder email (24h before appointment).\n\nUse n8n's Wait node or a sub-workflow triggered by Schedule with appointment query.",
        "height": 160,
        "width": 340
      },
      "id": "11111111-1111-4111-8111-111111111107",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-20, 60]
    }
  ],
  "connections": {
    "Twenty Appointment Webhook": {
      "main": [[{ "node": "Status Confirmed?", "type": "main", "index": 0 }]]
    },
    "Status Confirmed?": {
      "main": [[{ "node": "Fetch Appointment", "type": "main", "index": 0 }], []]
    },
    "Fetch Appointment": {
      "main": [[
        { "node": "Send Confirmation Email", "type": "main", "index": 0 },
        { "node": "Create Calendar Event", "type": "main", "index": 0 }
      ]]
    },
    "Create Calendar Event": {
      "main": [[{ "node": "Save Calendar Event ID", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "division-pr" }, { "name": "appointment-track" }]
}
