n8n/workflows/AUTO-04-return-date-updated.json
{
  "name": "AUTO-04 Return Date Updated",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twenty-pull-return-date",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222201",
      "name": "Twenty Pull Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "22222222-2222-4222-8222-222222222201"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-event-id",
              "leftValue": "={{ $json.body.record.calendarEventId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "has-return-date",
              "leftValue": "={{ $json.body.record.returnDate }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222202",
      "name": "Has Event + Return Date?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "update",
        "calendar": { "__rl": true, "value": "={{ $env.GOOGLE_CALENDAR_ID || 'primary' }}", "mode": "id" },
        "eventId": "={{ $('Twenty Pull Webhook').item.json.body.record.calendarEventId }}",
        "updateFields": {
          "start": "={{ $('Twenty Pull Webhook').item.json.body.record.returnDate }}",
          "end": "={{ $('Twenty Pull Webhook').item.json.body.record.returnDate }}"
        }
      },
      "id": "22222222-2222-4222-8222-222222222203",
      "name": "Patch Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [480, 200],
      "credentials": {
        "googleCalendarOAuth2Api": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Google Calendar — Division PR" }
      }
    },
    {
      "parameters": {
        "content": "## AUTO-04\n\nPatches existing Calendar event when return date changes.\n\n**Important:** Register same Twenty `pull.updated` webhook as AUTO-03, or merge AUTO-03/04/07/08 into one router workflow with IF branches.",
        "height": 140,
        "width": 320
      },
      "id": "22222222-2222-4222-8222-222222222204",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-20, 80]
    }
  ],
  "connections": {
    "Twenty Pull Webhook": {
      "main": [[{ "node": "Has Event + Return Date?", "type": "main", "index": 0 }]]
    },
    "Has Event + Return Date?": {
      "main": [[{ "node": "Patch Calendar Event", "type": "main", "index": 0 }], []]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "division-pr" }, { "name": "pull-track" }]
}
